/* Importação */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variáveis */

:root {
    /* Cores */

    --cor-primaria: #C5F82A;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #333333;
    --cor-quaternaria: #1F1F1F;
    --cor-quintaria: #141414;

    /* Fonte */

    --fonte: "Inter", sans-serif;
}

/* Estilização Desktop */

body {
    width: 100vw;
    height: 100%;
    font-size: 14px;
    background-color: var(--cor-quintaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo {
    width: 384px;
    height: 612px;
    background-color: var(--cor-quaternaria);
    font-family: var(--fonte);
    margin: 8% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 20px;
}

.conteudo__img {
    width: 92px;
    border-radius: 50%;
    margin-top: 40px;
}

.conteudo__jessica {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo__nome {
    font-size: 30px;
    font-weight: 700;
    color: var(--cor-secundaria);
    margin-bottom: 8px;
}

.conteudo__lugar {
    font-weight: 600;
    color: var(--cor-primaria);
    margin-bottom: 24px;
}

.conteudo__descricao {
    color: var(--cor-secundaria);
    font-weight: 400;
}

.conteudo__redes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    width: 315px;
}

.conteudo__link {
    text-decoration: none;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-weight: 600;
    padding: 16px 0;
    border-radius: 12px;
}

.conteudo__link:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-quaternaria);
}

@media (max-width: 380px) {
    .conteudo {
        width: 327px;
        height: 579px;
    }

    .conteudo__redes {
        width: 279px;
        font-size: 12px;
    }

    .conteudo__descricao {
        font-size: 14px;
    }
}