/* Importação */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variáveis */

:root {
    /* Cores */

    --cor-primaria: #C5F82A;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #333333;
    --cor-quaternaria: #1F1F1F;
    --cor-quintaria: #141414;

    /* Fonte */

    --fonte: "Inter", sans-serif;
}

/* Estilização Desktop */

body {
    font-family: var(--fonte);
    font-size: 14px;
    background-color: var(--cor-quintaria);
    display: flex;
    align-items: center;
    justify-content: center;
}